2143

In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [7]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("sample_submission.csv")

In [8]:
def cleaned_data(df):
    df['Age'] = df['Age'].fillna(df['Age'].mean())
    df['Gender'] = df['Gender'].map({'Male':1, 'Female':0})
    df['Annual Income'] = df['Annual Income'].fillna(df['Annual Income'].mean())
    df['Marital Status'] = df['Marital Status'].map({'Single':1, 'Married':0, 'Divorced':2})
    df['Marital Status'] = df['Marital Status'].fillna(1)
    df['Number of Dependents'] = df['Number of Dependents'].fillna(df['Number of Dependents'].mean())
    df['Education Level'] = df['Education Level'].map({"Master's":1, 'PhD':0, 'High School':2, "Bachelor's":3})
    df['Occupation'] = df['Occupation'].map({'Employed':1, 'Self-Employed':0, 'Unemployed':2})
    df['Occupation'] = df['Occupation'].fillna(1)
    df['Health Score'] = df['Health Score'].fillna(df['Health Score'].mean())
    df['Location'] = df['Location'].map({'Suburban':1, 'Rural':0, 'Urban':2})
    df['Policy Type'] = df['Policy Type'].map({'Premium':1, 'Comprehensive':0, 'Basic':2})
    df['Previous Claims'] = df['Previous Claims'].fillna(df['Previous Claims'].mean())
    df['Vehicle Age'] = df['Vehicle Age'].fillna(df['Vehicle Age'].mean())
    df['Credit Score'] = df['Credit Score'].fillna(df['Credit Score'].mean())
    df['Insurance Duration'] = df['Insurance Duration'].fillna(df['Insurance Duration'].mean())
    df.drop(columns=['Policy Start Date', 'id'], inplace=True)
    df['Customer Feedback'] = df['Customer Feedback'].map({'Average':1, 'Poor':0, 'Good':2})
    df['Customer Feedback'] = df['Customer Feedback'].fillna(1)
    df['Smoking Status'] = df['Smoking Status'].map({'Yes':1, 'No':0})
    df['Exercise Frequency'] = df['Exercise Frequency'].map({'Monthly':3, 'Weekly':2, 'Rarely':0, "Daily":1})
    df['Property Type'] = df['Property Type'].map({'House':1, 'Apartment':0, 'Condo':2})
    
    return df

In [10]:
cleaned_data(train)

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,0,10049.000000,0.0,1.000000,3,0.0,22.598761,2,1,2.000000,17.0,372.00000,5.0,0.0,0,2,1,2869.0
1,39.0,0,31678.000000,2.0,3.000000,1,1.0,15.569731,0,0,1.000000,12.0,694.00000,2.0,1.0,1,3,1,1483.0
2,23.0,1,25602.000000,2.0,3.000000,2,0.0,47.177549,1,1,1.000000,14.0,592.92435,3.0,2.0,1,2,1,567.0
3,21.0,1,141855.000000,0.0,2.000000,3,1.0,10.938144,0,2,1.000000,0.0,367.00000,1.0,0.0,1,1,0,765.0
4,21.0,1,39651.000000,1.0,1.000000,3,0.0,20.376094,0,1,0.000000,8.0,598.00000,4.0,0.0,1,2,1,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,0,27316.000000,0.0,0.000000,1,2.0,13.772907,2,1,1.002689,5.0,372.00000,3.0,0.0,0,1,0,1303.0
1199996,54.0,1,35786.000000,2.0,2.009934,1,0.0,11.483482,0,0,1.002689,10.0,597.00000,4.0,0.0,0,2,0,821.0
1199997,19.0,1,51884.000000,2.0,0.000000,1,1.0,14.724469,1,2,0.000000,19.0,592.92435,6.0,2.0,0,3,2,371.0
1199998,55.0,1,32745.217777,1.0,1.000000,0,1.0,18.547381,1,1,1.000000,7.0,407.00000,4.0,0.0,0,1,0,596.0
1199999,21.0,0,32745.217777,2.0,0.000000,0,1.0,10.125323,0,1,0.000000,18.0,502.00000,6.0,2.0,1,3,1,2480.0

In [11]:
cleaned_data(test)

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,28.00000,0,2310.0,1.0,4.0,3,0.0,7.657981,0,2,1.004873,19.0,592.904749,1.0,0.0,1,2,1
1,31.00000,0,126031.0,0.0,2.0,1,0.0,13.381379,1,1,1.004873,14.0,372.000000,8.0,2.0,1,0,0
2,47.00000,0,17092.0,2.0,0.0,0,2.0,24.354527,2,0,1.004873,16.0,819.000000,9.0,1.0,1,3,2
3,28.00000,0,30424.0,2.0,3.0,0,0.0,5.136225,1,0,1.000000,3.0,770.000000,5.0,0.0,1,1,1
4,24.00000,1,10863.0,2.0,2.0,2,2.0,11.844155,1,1,1.004873,14.0,755.000000,7.0,1.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,50.00000,0,38782.0,0.0,1.0,3,1.0,14.498639,0,1,1.004873,8.0,309.000000,2.0,1.0,1,1,2
799996,41.13644,0,73462.0,1.0,0.0,1,1.0,8.145748,0,2,2.000000,0.0,592.904749,2.0,2.0,0,1,0
799997,26.00000,0,35178.0,1.0,0.0,1,1.0,6.636583,2,0,1.004873,10.0,592.904749,6.0,0.0,0,3,0
799998,34.00000,0,45661.0,1.0,3.0,1,1.0,15.937248,2,1,2.000000,17.0,467.000000,7.0,1.0,0,2,2
799999,25.00000,1,24843.0,2.0,3.0,2,1.0,24.893939,1,0,1.004873,15.0,592.904749,8.0,2.0,0,0,1

In [13]:
y_train = train['Premium Amount']
X_train = train.drop(columns=['Premium Amount'])

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
# Initialize the RandomForestRegressor
model =  LinearRegression()

# Train the model
model.fit(X_train, y_train)

LinearRegression()

In [16]:
# Predicting on the test dataset
y_pred = model.predict(test)

In [17]:
# Will evaluate the model on submission dataset
y_test = submission['Premium Amount']

In [18]:
from sklearn.metrics import mean_squared_log_error

# Ensure predictions and true values are non-negative
y_pred = np.maximum(0, y_pred)  # Clip predictions to be non-negative
y_test = np.maximum(0, y_test)  # Ensure actual values are non-negative

# Calculate RMSLE
rmsle = np.sqrt(mean_squared_log_error(y_test, y_pred))
print(f'Root Mean Squared Logarithmic Error (RMSLE): {rmsle}')

Root Mean Squared Logarithmic Error (RMSLE): 0.041214073098232044

In [19]:
mysub = pd.DataFrame(submission['id'])
mysub['Premium Amount'] = y_pred
mysub.to_csv('linear.csv', index=False)